@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, night;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #10b981;
  --color-secondary: #14b8a6;
}

@plugin "daisyui/theme" {
  name: "night";
  --color-primary: #10b981;
  --color-secondary: #14b8a6;
  --color-base-100: #020617;
  --color-base-200: #0f172a;
  --color-base-300: #1e293b;
  --color-base-content: #f8fafc;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
